

.background{
    background-color: var(--background-color);
    width: 100%;
    min-height: 100vh;
    height: 100%;

    display: flex;
    justify-content: center;

    .content{
        min-width: 980px;
        border: 2px solid var(--background-color-secondary);
        box-shadow: inset 0 0 10px var(--background-color-secondary);

        header{
            height: 220px;
            width: 100%;
            border: 2px solid var(--background-color-secondary);
        }

        section{
            width: 100%;
        }
    }
}