
<div class="form-content">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="project-info">
            <div class="form-group">
                <label for="name">Nome: </label>
                <input type="text" id="name" formControlName="name">
            </div>
            <div class="form-group">
                <label for="name">Cor: </label>
                <input type="text" id="name" formControlName="color">
            </div>
            <div class="form-group">
                <label for="status">Status: </label>
                <select id="status" formControlName="status">
                    <option value="1">Ativo</option>
                    <option value="0">Inativo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Descrição: </label>
                <textarea id="description" formControlName="description"></textarea>
            </div>
        </div>

        <h3>Meses</h3>
        <!--form array dos meses-->
        <div class="month-info">
            <div formArrayName="months">
                <div *ngFor="let month of form.get('months').controls; let i = index;" class="months">
                    <div [formGroupName]="i" class="month">
                        <div class="form-group">
                            <label for="monthSelect">Mês</label>
                            <select id="monthSelect" formControlName="name">
                                <option *ngFor="let m of monthList" [value]="m">{{ m }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="code_smells">Code Smells: </label>
                            <input type="text" formControlName="code_smells">
                        </div>

                        <div class="form-group">
                            <label for="bugs">Bugs: </label>
                            <input type="text" formControlName="bugs">
                        </div>

                        <div class="form-group">
                            <label for="duplications">Duplicações: </label>
                            <input type="text" formControlName="duplications">
                        </div>

                        <div class="form-group">
                            <label for="vulnerabilities">Vulnerabilidades: </label>
                            <input type="text" formControlName="vulnerabilities">
                        </div>

                        <div class="form-group">
                            <label for="code_coverage">Cobertura: </label>
                            <input type="text" formControlName="code_coverage">
                        </div>

                        <div class="form-group">
                            <label for="security_hotspots">security_hotspots: </label>
                            <input type="text" formControlName="security_hotspots">
                        </div>
                        <em (click)="removeMonth(i)">🗑️</em>
                    </div>
                </div>
            </div>
        </div>
        <button class="button-add" type="button" (click)="addMonth()">+</button>
        <div class="form-group">
            <button class="button-register" type="submit" [disabled]="form.invalid">Salvar</button>
        </div>
    </form>
</div>